@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default;
    
}



:root{
    --colorBase: #F5F7FA;
    --colorBar: #1E293B;
    --coloCards: #FFFFFF;
    --colorSimple: #3B82F6;
    --colorMedium: #FACC15;
    --colorComplex: #ef4444;
    --colorHomeCard: #101A2C;
    --colorH1: #CAF2FA;

    /* FONTS */
    
}
@theme{
--font-Base: "Montserrat", Montserrat;
}

@font-face{
    font-family: "Montserrat";
    src: url(./assets/fonts/montserrat/Montserrat-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
@font-face{
    font-family: "Montserrat";
    src: url(./assets/fonts/montserrat/Montserrat-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
@font-face{
    font-family: "Montserrat";
    src: url(./assets/fonts/montserrat/Montserrat-ExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 100;
    font-display: swap;
}


    
